#hobby {
    transition: color 4s, background-color 2s;
}

#hobby:hover {
    background-color: black;
    color: white;
}

@media all  and (min-width: 1024px) {
    nav {
        transition: width 500ms ease-in, border 1s, color 3s;
    }

    nav a:hover {
        width: 30%;
        border: 1px black solid;
        border-radius: 15px;
        text-align: center;
        color: darkorange;
    }

    @keyframes move {
        0% {
            top: 0;
            left: 0;
        }

        20% {
            top: 0;
            left: 200px;
        }

        60% {
            top: 0;
            left: -200px;
        }

        70% {
            top: 0;
            left: 0;
        }

        80%{
            top: 50px;
            left: 0;
        }

        95%{
            top: -50px;
            left: 0;
        }

        100% {
            top: 0;
            left: 0;
        }
    }

    .header_icon {
        top: 0;
        left: 0;
        position: relative;
        animation: move 6s 1;
    }
}
