.blog {
    /*border: 1px solid black;*/
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.text_page {
    background-color: greenyellow;
    width: 40%;
    padding: 3%;
    padding-bottom: 5px;
    text-align: justify;
    align-content: space-around;
    border-radius: 15px;
    border: 5px solid green;
}

.text_page h2 {
    text-align: center;
}

#blogs {
    width: 100%;
    /*background-color: white;*/
    /*margin-left: 5%;*/
}