li {
    margin: 2%;
    padding: 2%;
    border: 1px solid black;
    min-height: 10%;
    max-width: 20.8%;
    background-color: #DEDE9C;
}

input, button {
    text-align: center;
    font-size: 150%;
    max-width: 80%;
}